---
import Page from "../layouts/Page.astro";
---

<Page title="About Me">
  <div class="grid grid-cols-2 gap-4">
    <div class="grid place-items-center">
      <img src="https://placekitten.com/150/150" alt="A cute kitten" />
    </div>
    <div>
      <p>
        Hi! My name is Joel and I'm a junior studying Computer Science at CSUF!
        I've been an SI Leader for the past year and have loved every minute of
        it. I've helped students understand their classes better, improve their
        grades, and make the most of their college experience. I'm excited to
        help you succeed too!
      </p>
    </div>
  </div>
  <div class="space-y-3 my-10">
    <h2 class="font-semibold text-3xl">More About Me</h2>
    <p>
      Outside of SI, I enjoy coding, playing video games, and spending time with
      my girlfriend and friends. I'm the current president of <a
        href="https://acmcsuf.com"
        target="_blank"
        rel="noopener noreferrer"
        class="font-bold hover:text-text-primary">ACM at CSUF</a
      > and have been a part of the club for the past two years.
    </p>
  </div>

  <div class="space-y-3 my-10">
    <h2 class="font-semibold text-3xl">Experience</h2>
    <ul class="list-disc list-inside">
      <li class="hover:font-bold hover:text-text-primary">
        Current SI Leader for CPSC 120
      </li>
      <li class="hover:font-bold hover:text-text-primary">
        Previous SI Leader for CPSC 121
      </li>
      <li class="hover:font-bold hover:text-text-primary">
        Previous SI Leader for CPSC 131
      </li>
      <li class="hover:font-bold hover:text-text-primary">
        President of ACM at CSUF
      </li>
    </ul>
  </div>

  <!-- contact info, instagram and discord both jjoeldaniel -->
  <div class="space-y-3 my-10">
    <h2 class="font-semibold text-3xl">Contact Me</h2>
    <p>
      Want to get in contact? Feel free to reach out to me on <span
        class="font-semibold">Instagram</span
      > or
      <span class="font-semibold">Discord</span>. My username is <span
        class="font-mono font-bold hover:text-text-primary">jjoeldaniel</span
      > on both platforms.
    </p>
  </div>
</Page>
