---
import Page from "../layouts/Page.astro";
---

<Page title="Home">
  <p>
    Computer Science SI Hub containing SI Leader session times, contact
    information, and more.
  </p>

  <div class="space-y-8 my-8">
    <div class="space-y-3">
      <h2 class="font-semibold text-2xl">What is SI?</h2>
      <p>
        Supplemental Instruction is a learning support program that provides
        weekly group study sessions for students taking bottleneck, key gateway,
        or historically difficult courses... <small class="text-xsm"
          >and it's completely free!</small
        >
      </p>
    </div>
    <div class="space-y-3">
      <h2 class="font-semibold text-2xl">Peer-to-Peer Learning</h2>
      <p>
        The SI Program is led by exceptional students who have already mastered
        the course materials. SI Leaders are trained to facilitate group
        sessions where students can meet to improve their understanding of
        course materials, review and discuss important concepts, develop study
        strategies, and prepare for exams.
      </p>
    </div>
  </div>

  <div class="flex flex-row space-x-3">
    <div class="space-y-3">
      <h2 class="font-semibold text-2xl">Improved Outcomes</h2>
      <p>
        Students that attend SI sessions earn higher grades. On average,
        students who attend SI sessions earn a half to a full letter grade
        higher than those who do not attend.
      </p>
    </div>
    <div class="space-y-3">
      <h2 class="font-semibold text-2xl">Group Learning</h2>
      <p>
        SI sessions are designed to be interactive and collaborative. Students
        are encouraged to work together to solve problems and discuss course
        materials.
      </p>
    </div>
  </div>
</Page>
