---
import Page from "../layouts/Page.astro";
---

<Page title="Resources">
  <div class="space-y-8">
    <p>
      Here are some resources you might find useful throughout your time at
      CSUF.
    </p>

    <ul class="space-y-3 list-inside">
      <li>
        > <a class="hover:text-text-primary" href="https://neetcode.io"
          >NeetCode</a>
      </li>
      <li>
        > <a
          class="hover:text-text-primary"
          href="https://www.bigocheatsheet.com/">Big-O Cheat Sheet</a>
      </li>
      <li>
        >
        <a
          class="hover:text-text-primary"
          href="https://docs.github.com/en/authentication/connecting-to-github-with-ssh"
          >How to Setup SSH</a
        >
      </li>
      <li>
        > <a class="hover:text-text-primary" href="https://www.learncpp.com/"
          >Learn C++</a>
      </li>
    </ul>
  </div>
</Page>
