---
import Page from "../layouts/Page.astro";
---

<Page title="Sessions">
  <!-- TODO: Add SI Selection that modifies data below -->

  <div>
    <h1 class="text-2xl font-bold mb-4">Information</h1>

    <ul class="list-disc pl-6 mb-6">
      <li><strong>Days:</strong> TBD</li>
      <li><strong>Time:</strong> TBD</li>
      <li><strong>Location:</strong> TBD</li>
      <li>
        <a href="#" target="_blank" class="text-blue-500">Zoom Meeting</a>
      </li>
      <li>
        <a href="#" target="_blank" class="text-blue-500">Class Discord</a>
      </li>
    </ul>

    <h1 class="text-2xl font-bold mb-4">Useful Links</h1>

    <ul class="list-disc pl-6">
      <li><a href="/qr" class="text-blue-500">Attendance QR Code</a></li>
      <li>
        <a href="/map" target="_blank" class="text-blue-500">Campus Map</a>
      </li>
    </ul>
  </div>
</Page>
