---
import Page from "../layouts/Page.astro";
import SI_Dropdown from "../components/SI_Dropdown.svelte";
import json from "../data.json";
import { SI_Leader } from "../si.js";

const leaders: Map<String, SI_Leader> = (() => {
  const map = new Map<String, SI_Leader>();
  for (const leader of json) {
    map.set(leader.name, leader);
  }
  return map;
})();
---

<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>

<Page title="Sessions">
  <!-- TODO: Add SI Selection that modifies data below -->

  <SI_Dropdown client:load names={Array.from(leaders.keys())} />

  <div>
    <h1 class="text-2xl font-bold mb-4">Information</h1>

    <ul class="list-disc pl-6 mb-6">
      <li><strong>SI Leader:</strong> TBD</li>
      <li><strong>Days:</strong> TBD</li>
      <li><strong>Time:</strong> TBD</li>
      <li><strong>Location:</strong> TBD</li>
      <li>
        <a href="#" target="_blank" class="text-blue-500">Zoom Meeting</a>
      </li>
      <li>
        <a href="#" target="_blank" class="text-blue-500">Class Discord</a>
      </li>
    </ul>

    <h1 class="text-2xl font-bold mb-4">Useful Links</h1>

    <ul class="list-disc pl-6">
      <li><a href="/qr" class="text-blue-500">Attendance QR Code</a></li>
      <li>
        <a href="/map" target="_blank" class="text-blue-500">Campus Map</a>
      </li>
    </ul>
  </div>
</Page>
