---
import Page from "../layouts/Page.astro";
import SI from "../components/SI.astro";
import json from "../data.json";
import { SI_Leader } from "../si.js";

const courses = Array.from(new Set(json.map((leader) => leader.course)));

// map of courses to leaders
const courseMap = new Map<String, SI_Leader[]>();
for (const course of courses) {
  courseMap.set(course, []);
}
for (const leader of json) {
  courseMap.get(leader.course)?.push(leader);
}
---

<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>

<Page title="Sessions">
  <p class="mb-10">
    Listed below are all SI Leaders, their session days, times, and locations.
  </p>

  <div>
    <h1 class="text-2xl font-bold mb-6">Courses</h1>

    <div class="my-6 mb-12 place-content-evenly flex flex-row">
      {
        Object.keys(courses).map((k) => (
          <div>
            <a
              href={"#" + courses[Number(k)]}
              class="text-blue-500 text-2xl hover:font-semibold"
            >
              {courses[Number(k)]}
            </a>
          </div>
        ))
      }
    </div>

    <div class="my-6 place-content-evenly">
      {
        Object.keys(courses).map((k) => (
          <div>
            <a
              id={courses[Number(k)]}
              href={"#" + courses[Number(k)]}
              class="text-blue-500 text-2xl hover:font-semibold"
            >
              {courses[Number(k)]}
            </a>

            <div class="my-4 space-y-3">
              {courseMap.get(courses[Number(k)])?.map((leader) => (
                <div>
                  <SI leader={leader} />
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>

    <h1 class="text-2xl font-bold mb-4">Useful Links</h1>

    <ul class="list-disc pl-6">
      <li><a href="/qr" class="text-blue-500">Attendance QR Code</a></li>
      <li>
        <a href="/map" target="_blank" class="text-blue-500">Campus Map</a>
      </li>
    </ul>
  </div>
</Page>
