---
import Layout from "../layouts/Layout.astro";
const { title } = Astro.props;
---

<title>SI Hub - {title} 🚀</title>

<Layout>
  <div>
    <h1 class="font-medium text-3xl pb-8"><a href="#">{title}</a></h1>
    <slot />
  </div>
</Layout>
